@use '../_foundation' as f;

$not-active-value: 1rem;

.l-section {
  &--background {
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include f.contents-full;
    background-color: var(--color-black);
    transition: f.$transition;

    &:not(.is-active) {
      opacity: .9;
      margin: calc($not-active-value * 3) $not-active-value;
      border-radius: $not-active-value;
    }
  }
}